<?xml version="1.0" encoding="UTF-8"?>

<!-- https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-Ruleset -->
<ruleset name="Example">

  <description>An example PHP CodeSniffer configuration.</description>

  <!-- Uncomment your chosen standard and the filename extensions corresponding to it. -->
  <!-- @see https://github.com/acquia/coding-standards-php/issues/18 for background on filename extensions. -->
  <rule ref="AcquiaDrupalStrict"/><arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,md,yml"/>
  <!-- <rule ref="AcquiaDrupalTransitional"/><arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,md,yml"/> -->
  <!-- <rule ref="AcquiaPHP"/><arg name="extensions" value="php,inc,test,css,txt,md,yml"/> -->
  <!-- <rule ref="AcquiaEdge"/><arg name="extensions" value="php,inc,test,css,txt,md,yml"/> -->

  <arg name="colors"/>
  <arg name="cache" value=".phpcs-cache"/>
  <arg name="parallel" value="10"/>

  <file>.</file>

  <!-- Danger! Exclude patterns apply to the full file path, including parent directories of the current repository. -->
  <!-- Don't exclude common directory names like `build`, which would fail on Travis CI because of /home/travis/build/acquia/<project>. -->
  <!-- @see https://github.com/squizlabs/PHP_CodeSniffer/issues/981 -->
  <exclude-pattern>vendor/*</exclude-pattern>

</ruleset>
